<!DOCTYPE html>
<html>
<head>
  <title>Login: Facebook</title>
  <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
<h2><%= msg %></h2>
  <form action="/signin" method="post" class="login">
    <h1>Facebook</h1>
    <input type="email" name="email" class="logini" placeholder="example@gmail.com" autofocus required>
    <input type="password" name="password" class="logini" placeholder="Password" required>
    <input type="submit" value="Login" class="logins">
    <p class="signup"><a href="/signup">Register as new user</a></p>
  </form>
</body>
</html>