<!DOCTYPE html>
<html>
<head>
  <title>Sign Up: Facebook</title>
  <link rel="stylesheet" href="stylesheets/signup.css">
</head>
<body>
  <form action="/newuser" method="post" class="signup" >
    <h1>Facebook Registration</h1>
    <input type="text" name="firstname" class="signupi" placeholder="Enter your first name">
    <input type="text" name="lastname" class="signupi" placeholder="Enter your last name">
    <input type="email" name="email" class="signupi" placeholder="Enter your email address" autofocus required>
    <input type="password" name="password" class="signupi" placeholder="Choose a password" required>
    <input type="submit" value="Sign me up!" class="signups">
  </form>
</body>
</html>
